name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set environment variables
      run: |
        echo "EMAIL_HOST=localhost" >> $GITHUB_ENV
        echo "EMAIL_PORT=1025" >> $GITHUB_ENV
        echo "EMAIL_HOST_USER=test" >> $GITHUB_ENV
        echo "EMAIL_HOST_PASSWORD=test" >> $GITHUB_ENV
        echo "EMAIL_USE_TLS=False" >> $GITHUB_ENV
        echo "EMAIL_USE_SSL=False" >> $GITHUB_ENV

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run Tests
      run: |
        python manage.py test
